<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morbidoni.proyecto.ape">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".iu_inicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iu_agenda"
            android:label="@string/title_activity_iu_agenda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_ayuda" />
        <activity
            android:name=".iu_materias"
            android:label="@string/title_activity_iu_materias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_agregar_materia" />
        <activity android:name=".iu_agregar_eventos" />
        <activity android:name=".iu_modificar_eventos" />
        <activity android:name=".iu_modificar_materia" />
        <activity android:name=".iu_datos_materia" />
        <activity
            android:name=".iu_examenes"
            android:label="@string/title_activity_iu__examenes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_agregar_examen" />
        <activity android:name=".iu_modificar_examen" />
        <activity android:name=".iu_datos_examenes" />
        <activity
            android:name=".iu_planificador"
            android:label="@string/title_activity_iu_planificador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_promedio_especifico" />
        <activity android:name=".iu_metricas_materias" />
        <activity android:name=".iu_metricas_examenes" />
        <activity
            android:name=".iu_metricas"
            android:label="@string/title_activity_iu_metricas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_archivos"
            android:label="@string/title_activity_iu_archivos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_agregar_archivo" />
        <activity android:name=".iu_modificar_archivo" />
        <activity android:name=".iu_datos_archivo" />
        <activity android:name=".iu_pedido_registro_evento" />
        <activity android:name=".iu_login" />
        <activity
            android:name=".iu_configuracion"
            android:label="@string/title_activity_iu_configuracion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>