<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morbidoni.proyecto.ape">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.morbidoni.proyecto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".iu_inicio"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_agenda"
            android:label="@string/title_activity_iu_agenda"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_ayuda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_materias"
            android:label="@string/title_activity_iu_materias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_agregar_materia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_agregar_eventos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_modificar_eventos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_modificar_materia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_examenes"
            android:label="@string/title_activity_iu__examenes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_agregar_examen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_modificar_examen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_planificador"
            android:label="@string/title_activity_iu_planificador"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_promedio_especifico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_metricas_materias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_metricas_examenes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_metricas"
            android:label="@string/title_activity_iu_metricas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_archivos"
            android:label="@string/title_activity_iu_archivos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iu_agregar_archivo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu_login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iu_configuracion"
            android:label="@string/title_activity_iu_configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_modificar_planes_de_estudio" />
        <activity android:name=".iu_entrada_planificador" />
        <activity android:name=".iu_agregar_planes_de_estudio" />
        <activity
            android:name=".iu_revisar_plan"
            android:label="@string/title_activity_iu_revisar_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".iu_revisar_planes_antiguos" />
        <activity android:name=".iu_foto" />
        <activity android:name=".iu_video" />
        <activity android:name=".iu_audio" />
        <activity android:name=".iu_nota" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>